<!DOCTYPE html>
<html>

<head>
<title>UFM Apostille</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://unpkg.com/ipfs-http-client@30.1.3/dist/index.js"></script>
    <script src="https://bundle.run/buffer@5.2.1"></script>

<body>
<link rel="stylesheet" href="app.css" />
  <nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="./">Home  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./firmar">Sign </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="./auditar">Audit </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="./ingresar">Input Document <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
        <img src="https://fce.ufm.edu/wp-content/uploads/2014/05/logo.png" alt="Logo UFM FCE" width="250px" right='0px' bottom='0px'>
</nav>


</br>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="context">

<div class="container center_div">

<form id='form-ingresar' name = 'form-ingresar' method="POST" action="/ingresar">
  <div class="form-row">
    <div class="col">
          <label for="inputFirst" class="text">Student's First Name</label>
      <input type="text" class="form-control" placeholder="First name" name="nombre">
    </div>
    <div class="col">
          <label for="inputLast" class="text">Student's Last Name</label>
      <input type="text" class="form-control" placeholder="Last name" name="apellido" required>
    </div>
  </div>
</br>
  <div class="form-group">
    <label for="inputcarnet" class="text">Student ID</label>
    <input type="text" class="form-control" name="inputcarnet" placeholder="Student ID" required>
  </div>
</br>
  <div class="form-group">
    <label for="inputlink" class="text">Link</label>
    <input type="text" class="form-control" name="link" id="linkView" placeholder="Link to IPFS FIle" required>
  </div>
    <label for="inputGroupFileAddon01" class="text">Image Upload.</label>
  <div class="input-group">

<input type="file" accept="image/*" onchange="loadFile(event)" id="img" placeholder="Upload my image.">
<img id="output" />

<script type="text/javascript">
  var loadFile = function(event) {
    var output = document.getElementById('output');
    console.log(event.target.files[0]);
    output.src = URL.createObjectURL(event.target.files[0]);
  };

        const ipfs = window.IpfsHttpClient('ipfs.infura.io', '5001', { protocol: 'https' });

        $("#img").on("change", function() {
            var reader = new FileReader();
            reader.onload = function (e) {

                const magic_array_buffer_converted_to_buffer = buffer.Buffer(reader.result);
                ipfs.add(magic_array_buffer_converted_to_buffer, (err, result) => {
                    console.log(err, result);

              let ipfsLink = "<a href='https://gateway.ipfs.io/ipfs/" + result[0].hash + "'>gateway.ipfs.io/ipfs/" + result[0].hash + "</a>";
              let pureLink = "https://gateway.ipfs.io/ipfs/"+ result[0].hash
              document.getElementById("link").innerHTML = ipfsLink;
              document.getElementById("linkView").value = pureLink;
                })
            }
            reader.readAsArrayBuffer(this.files[0]);
        })
</script>
  
<script type="text/javascript">
function swalFire(){
  var nombre = document.forms["form-ingresar"]["nombre"].value;
  var apellido = document.forms["form-ingresar"]["apellido"].value;
  var carnet = document.forms["form-ingresar"]["inputcarnet"].value;
  if (nombre == "" || apellido == "" || carnet == "" )
  {
  
    swal({
        title: "Careful!",
        text: "Please fill out all of the spaces before continuing",
        type: "warning",
        confirmButtonText: 'OK'
      });
    return false;
  } else if (carnet.length !== 8){
    swal({
        title: "Careful!",
        text: "Enter a valid Student ID",
        type: "warning",
        confirmButtonText: 'OK'
      });
    return false;
  } else {
    swal({
        title: "Request Succesful",
        text: "Those with the authority to authorize the document have been notified. The order number has been sent to their Email awaiting confirmation.",
        type: "success",
        confirmButtonText: 'Great!'
      });
  }

}
     
</script>
  </br>

</div>
 </br>
<h4>Please allow a few seconds to load. Thank you! </h4>
<h4>Your link will appear down below after you've loaded it.</h4>
<div id="link"></div> <!--  created after upload -->
  </br>
    <button type="submit" class="btn btn-danger" onclick="swalFire()">Request Document to Faculty</button>

  

</form>

</div>
</div>
</body>


<style>

  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  
  .nav-link {
    font-size: 2.5em;
  }

.navbar-dark .navbar-nav .nav-link{
      color:#164B94 ;
}
.text{
     color:white;
 
}

.btn {
    background-color: #164B94;
    color:white;
  }
  
  html {
    height:100%;
  }
  
  body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  
  .context {
    padding-top: 3em;

  
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, white 50%, red 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  content {
    position: relative;
  }

  content img {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .center_div{
    margin: 0 auto;
    width:60% /* value of your choice which suits your alignment */
}

  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  
  </style>

</html>