<!DOCTYPE html>
<html>

<head>
<title>UFM Apostille</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="./">UFM Apostille</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home<span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./solicitar">Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./sign">Sign</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="./auditar">Audit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./ingresar">Input Document</a>
      </li>
    </ul>
  </div>
</nav>
<div class='container'>
<br />
<br />
<br />
<br />
<br />
 <div class="form-row">
<a href="./solicitar" class="btn btn-light btn-block btn-group-lg" role="button">Request a new grade certificate</a>
<br />
<br />
<a href="./sign" class="btn btn-light btn-block btn-group-lg" role="button">Sign a grade certificate</a>
<br />
<br />
<a href="./auditar" class="btn btn-light btn-block btn-group-lg" role="button">Audit a grade certificate</a>
<br />
<br />
<a href="./ingresar" class="btn btn-light btn-block btn-group-lg" role="button">Input a new grade certificate</a>
</div>
</div>
</body>


</html>