<html>
    <head>
        <title>NEM Faucet</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="/assets/request_jquery.js"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    </head>
    <body>
        <h1></h1>
        <div id=todo-table>
            <form>

                <input type="text" name="nombre" placeholder="Nombre del alumno", required />
                <input type="text" name="carnet" placeholder="Carnet", required />
                <input type="text" name="curso" placeholder="Curso a verificiar", required />
                <input type="file" id="myFile">

                <button type="submit">Add Item</button>
            </form>
        </div>
    </body>
</html>